html,
body,
#app {
  height     : 100%;
  margin     : 0;
  padding    : 0;
  font-size: 14px;
  font-family: var(--text-font);
  color: var(--el-menu-text-color);
}

html.dark {
  background: #121212;
}

.table-img {
  width : 80px;
  height: 80px;
}

.el-message-box {
  padding: 20px 24px;
}
.el-message-box__header {
  border-bottom: 1px solid var(--el-border-color);
}
.el-popper{
  font-size: 14px;
  max-width: 220px;
}
.el-empty__image {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.el-empty__description {
  margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--el-menu-text-color);
  font-weight: 500;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
}

p{
  margin: 0;
  margin-bottom: 1em;
}

#app {
  --el-menu-hover-bg-color : rgb(141 141 160 / 10%);
  --el-menu-active-bg-color: transparent;
  --el-menu-active-color   : #ececf1;
  --el-menu-bg-color       : transparent;

  --el-color-primary        : #6366f1;
  --el-color-primary-light-3: #818cf8;
  --el-color-primary-dark-2 : #a5b4fc;
  --el-color-primary-dark-1 : #e0e7ff;
  --el-text-color-primary-1: var(--el-menu-text-color);
  --text-font               : system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --el-menu-item-height: 40px;
  --el-empty-description-margin-top: 6px;

  --el-loading-spinner-size: 30px;


}
#app .el-header{
  --el-header-height: 50px;
}

#app .el-table .el-table__header th.el-table__cell{
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary)
}
#app .el-table .cell{
  word-break: break-word;
}
#app .el-tag{
  height: 22px;
}

#app .el-tag.el-tag--info {
  --el-tag-text-color: var(--el-text-color-primary);
}

.custom-msgbox-info{
  line-height: 2em;
  font-size: 18px;
  color: var(--el-text-color-primary-1);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.14);
  height: 22%;
  width: 22%;
  border-radius: 50%;
  margin-bottom: 2px;
  cursor: default;
  transition: 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.44);
  }
  &:active {
    transform: scale(0.94);
  }
}

select,
button {
  font-family: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
input,
button {
  &:focus {
    outline: none;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--color-primary);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

:root {
  --color-body-bg: #ffffff;
  --color-text: #000;
  --color-primary: #335eea;
  --color-primary-bg: #eaeffd;
  --color-secondary: #7a7a7b;
  --color-secondary-bg: #f5f5f7;
  --color-navbar-bg: rgba(255, 255, 255, 0.86);
  --color-primary-bg-for-transparent: rgba(189, 207, 255, 0.28);
  --color-secondary-bg-for-transparent: rgba(209, 209, 214, 0.28);
  --html-overflow-y: overlay;
}

[data-theme='dark'] {
  --color-body-bg: #222222;
  --color-text: #ffffff;
  --color-primary: #335eea;
  --color-primary-bg: #bbcdff;
  --color-secondary: #7a7a7b;
  --color-secondary-bg: #323232;
  --color-navbar-bg: rgba(34, 34, 34, 0.86);
  --color-primary-bg-for-transparent: rgba(255, 255, 255, 0.12);
  --color-secondary-bg-for-transparent: rgba(255, 255, 255, 0.08);
}